<div class="title">
  <img src="/i/mozilla-wordmark-200.png" alt="<%= gettext("Mozilla Logo") %>" />
</div>
<div class="signin-panel">

  <h1><%= gettext("Error:") %></h1>
  <p><%= gettext("login.mozilla.org cookies blocked") %></p>

  <p class="error"><%- format(gettext('You need third-party cookies enabled. <a href="%s">Read More</a>.'),
["https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?esab=a&s=3rd+party+cookies&r=2&as=s"]) %></p>

</div><!-- #sign-in-panel -->