<div class="title">
  <img src="/i/mozilla-wordmark-200.png" alt="<%= gettext("Mozilla Logo") %>" />
</div>
<div class="signin-panel">
  <div class="prompt">
    <p><%= gettext("No content found at this URL!  So Sorry.") %></p>
  </div>
</div>
