<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stylo.css">

  </head>
  <body>
    <%- body %>
<script src="https://browserid.org/authentication_api.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/signin.js"></script>
  </body>
</html>
