<div id="signin-panel">
  <!-- img src="/i/mozilla200x50_purple.png" width="200" height="50" alt="Mozilla Logo" / -->
  <!-- 356 x 129 -->
  <img src="/i/mozilla_corp.jpeg" width="200" xheight="50" alt="Mozilla Logo" />
  <h1><%= title %></h1>
  <div class="error"></div>
  <form action="" method="POST">
    <div><label>Email</label><input type="email" name="user" value=""></span></div>
    <div><label for="pass">Password</label><input type="password" id="pass" name="pass" value="" /></div>
    <div><div class="label"></div><button>Sign in</button><button class="cancel">Cancel</button></div>
  </form>
</div>