<h1><%= title %></h1>
<div class="error"></div>
<form action="" method="POST">
  <div><label>Email:</label><input type="email" name="user" value=""></span></div>
  <div><label for="pass">LDAP Password:</label><input type="password" id="pass" name="pass" value="" /></div>
  <button>Sign in</button><button class="cancel">Cancel</button>
</form>