<div class="title">
  <img src="/i/mozilla-wordmark-200.png" alt="<%= gettext("Mozilla Logo") %>" />
</div>
<div class="overview">
  <p><strong><%= gettext("The Mozilla Identity Provider") %></strong>:
    <em><%= gettext("Better LDAP authentication for Mozilla employees since 2013.") %></em>
  </p>
  <p>
    <%- gettext('To use this, log in with your Mozilla email address anywhere <a href="https://persona.org">Persona</a> is supported.') %>
  </p>
</div>
