// connect-compiler is braindead, so we have to use imports
// relative to where we start the server...
// Which should be top of the repo
@import '../static/css/boilerplate';

/* === Layout === */
.l-center-vh {
  margin: auto;
}
.l-center { text-align: center; }

.l-30, .l-70 { min-height: 1em; height: auto; float: left; padding: 3px 0px; }
.l-30 { width: 30%; clear: left; }
.l-70 { width: 70%; }

/* === Modules === */

body {
  background: #2D9ED2;

  background-image: -o-radial-gradient(64% 96%, #2C9ED4 19%, #299AD2 42%, rgba(4,60,85,0.20) 100%), url(/i/jumping_fox_back.png);
  background-image: -moz-radial-gradient(64% 96%, #2C9ED4 19%, #299AD2 42%, rgba(4,60,85,0.20) 100%);
  background-image: -webkit-radial-gradient(64% 96%, #2C9ED4 19%, #299AD2 42%, rgba(4,60,85,0.20) 100%), url(/i/jumping_fox_back.png);
  background-image: -ms-radial-gradient(64% 96%, #2C9ED4 19%, #299AD2 42%, rgba(4,60,85,0.20) 100%), url(/i/jumping_fox_back.png);
  background-image: radial-gradient(64% 96%, #2C9ED4 19%, #299AD2 42%, rgba(4,60,85,0.20) 100%);
}

.btn {
  font-size: 12pt;
  line-height: 1;
  padding: 6px 10px 7px;
  border: 0px none;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.signin-panel {
  width: 524px;
  height: 286px;
  background-image: url(/i/jumping_fox_back.png);
  position: relative;
}

.signin-form {
  border-radius: 5px;
  background: #FFFFFF;

  -moz-box-shadow:    2px 4px 22px 0 rgba(3,41,64,0.50), 0px 2px 4px 0 rgba(0,0,0,0.50);
  -webkit-box-shadow: 2px 4px 22px 0 rgba(3,41,64,0.50), 0px 2px 4px 0 rgba(0,0,0,0.50);
  box-shadow:         2px 4px 22px 0 rgba(3,41,64,0.50), 0px 2px 4px 0 rgba(0,0,0,0.50);
/*
  -moz-box-shadow:    0px 2px 4px 0 rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.50);
  box-shadow:         0px 2px 4px 0 rgba(0,0,0,0.50);
*/
  width: 319px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 120px;

  padding-bottom: 1em;
}

.signin-form label { display: block; text-align: right; padding-right: 5px; }
.signin-form input { width: 85%; }

.signin-continue {
  background-color: #2C9ED4; color: #FFF;
  background-image: -moz-linear-gradient(center top , rgb(78, 181, 229), rgb(49, 150, 207));
  margin-right: 1em;
}
.signin-cancel {
  background-color: #EEE; color: #034;
}

.signin-overlay {
  width: 249px;
  height: 211px;
  background-image: url(/i/jumping_fox_front.png);
  position: absolute;
  top: 31px;
  left: 55px;
  z-index: 666;
}

/* @import '../static/css/media_max_480'; */
