html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  position: relative;
}
.outer {
  float: left;
  clear: both;
  position: relative;
  left: 50%;
}
.inner {
  position: relative;
  left: -50%;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
.floatClear {
  float: left;
  clear: both;
}
img {
  border: 0;
}
ul {
  list-style-type: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* === Layout === */
.l-center-vh {
  margin: auto;
}
.l-center {
  text-align: center;
}
.l-30,
.l-70 {
  min-height: 1em;
  height: auto;
  float: left;
  padding: 3px 0px;
}
.l-30 {
  width: 30%;
  clear: left;
}
.l-70 {
  width: 70%;
}
/* === Modules === */
body {
  background: #2D9ED2;
  background-image: -o-radial-gradient(64% 96%, #2c9ed4 19%, #299ad2 42%, rgba(4, 60, 85, 0.2) 100%), url(/i/jumping_fox_back.png);
  background-image: -moz-radial-gradient(64% 96%, #2c9ed4 19%, #299ad2 42%, rgba(4, 60, 85, 0.2) 100%);
  background-image: -webkit-radial-gradient(64% 96%, #2c9ed4 19%, #299ad2 42%, rgba(4, 60, 85, 0.2) 100%), url(/i/jumping_fox_back.png);
  background-image: -ms-radial-gradient(64% 96%, #2c9ed4 19%, #299ad2 42%, rgba(4, 60, 85, 0.2) 100%), url(/i/jumping_fox_back.png);
  background-image: radial-gradient(64% 96%, #2c9ed4 19%, #299ad2 42%, rgba(4, 60, 85, 0.2) 100%);
}
.btn {
  font-size: 12pt;
  line-height: 1;
  padding: 6px 10px 7px;
  border: 0px none;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.signin-panel {
  width: 524px;
  height: 286px;
  background-image: url(/i/jumping_fox_back.png);
  position: relative;
}
.signin-form {
  border-radius: 5px;
  background: #FFFFFF;
  -moz-box-shadow: 2px 4px 22px 0 rgba(3, 41, 64, 0.5), 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 4px 22px 0 rgba(3, 41, 64, 0.5), 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 22px 0 rgba(3, 41, 64, 0.5), 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  /*
  -moz-box-shadow:    0px 2px 4px 0 rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.50);
  box-shadow:         0px 2px 4px 0 rgba(0,0,0,0.50);
*/

  width: 319px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 120px;
  padding-bottom: 1em;
}
.signin-form label {
  display: block;
  text-align: right;
  padding-right: 5px;
}
.signin-form input {
  width: 85%;
}
.signin-continue {
  background-color: #2C9ED4;
  color: #FFF;
  background-image: -moz-linear-gradient(center top, #4eb5e5, #3196cf);
  margin-right: 1em;
}
.signin-cancel {
  background-color: #EEE;
  color: #034;
}
.signin-overlay {
  width: 249px;
  height: 211px;
  background-image: url(/i/jumping_fox_front.png);
  position: absolute;
  top: 31px;
  left: 55px;
  z-index: 666;
}
/* @import '../static/css/media_max_480'; */
