html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  position: relative;
}
.outer {
  float: left;
  clear: both;
  position: relative;
  left: 50%;
}
.inner {
  position: relative;
  left: -50%;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  text-rendering: optimizeLegibility;
}
.floatClear {
  float: left;
  clear: both;
}
img {
  border: 0;
}
ul {
  list-style-type: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* === Layout === */
body {
  line-height: 1.5;
}
.signin-panel {
  border: solid 0px #ff0000;
  width: 500px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.left-col {
  clear: left;
  text-align: right;
}
html[dir=rtl] .left-col {
  clear: right;
  text-align: left;
}
.left-col {
  border: solid 0px #0000ff;
  min-width: 113px;
  max-width: 173px;
  min-height: 1px;
  overflow: hidden;
  float: left;
}
html[dir=rtl] .left-col,
html[dir=rtl] .right-col,
html[dir=rtl] .center-col {
  float: right;
}
.center-col {
  border: solid 0px #008000;
  width: 300px;
  padding-left: 5px;
  float: left;
}
html[dir=rtl] .center-col {
  padding-right: 5px;
}
html[dir=ltr] .left-col {
  padding-right: 5px;
}
html[dir=rtl] .right-col {
  padding-left: 5px;
}
.left-col,
.center-col,
-right-col {
  margin-bottom: 5px;
}
.clear {
  clear: both;
}
/* === Basic Style === */
body {
  background-color: #efe7d4;
  font-family: Times;
}
.signin-panel {
  background-color: #FFF;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25), 3px 3px 60px rgba(0, 0, 0, 0.25), 5px 2px 16px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25), 3px 3px 60px rgba(0, 0, 0, 0.25), 5px 2px 16px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25), 3px 3px 60px rgba(0, 0, 0, 0.25), 5px 2px 16px rgba(0, 0, 0, 0.25);
  background: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 40%, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.4, #ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, from(#ffffff), color-stop(0.4, #ffffff), to(#eeeeee));
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 40%, #eeeeee 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eeeeee)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eeeeee)";
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 40%, #eeeeee 100%);
}
label {
  font-family: Arial;
}
.logo {
  padding-top: 10px;
}
/* === Heading === */
h1 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: -0.3em;
}
/* === Labels === */
label {
  font-weight: bold;
}
/* === Inputs === */
input {
  width: 100%;
}
button {
  font-size: 1.2em;
  line-height: 1.5;
}
.last {
  padding-bottom: 10px;
}
/* === Hey brother */
@media only screen and (max-width: 480px) {
  body {
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
  .signin-panel {
    border: solid 0px #ff0000;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  html[dir=rtl] .signin-panel {
    margin-left: 1em;
  }
  .right-col {
    width: 1em;
  }
  .left-col {
    clear: auto;
    text-align: left;
    padding-left: 20px;
  }
  html[dir=rtl] .left-col {
    clear: none;
    text-align: right;
    padding-right: 20px;
  }
  .left-col,
  .right-col {
    border: solid 0px #0000ff;
    min-width: 400px);
    max-width: 400px);
    min-height: 1px;
    overflow: hidden;
    float: none;
  }
  html[dir=rtl] .left-col,
  html[dir=rtl] .right-col,
  html[dir=rtl] .center-col {
    float: none;
  }
  .center-col {
    border: auto;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    float: none;
  }
  html[dir=rtl] .center-col {
    padding-right: 20px;
  }
  html[dir=ltr] .left-col {
    padding-right: 20px;
  }
  html[dir=rtl] .right-col {
    padding-left: 20px;
  }
  .left-col,
  .center-col,
  -right-col {
    margin-bottom: auto;
  }
}
